@charset "UTF-8";

html {
  font-size: 62.5%; /* 10px */
  font-size: calc(1em * 0.625); /* fix */
  color: $font_color;
}

.text-right {
  text-align: right;
}

.Language- {
  padding-right: 2em;
  font-family: SourceSansPro;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  border: none;
}

.select_language {
  display: none;
}