@charset "UTF_8";

.align-right {
    display: flex;
    justify-content: flex-end;
}

.pull-right {
    float: right;
}
/*Btm paddings*/
.padding-btm-x1{
  padding-bottom:10px;
}
.padding-btm-x2{
  padding-bottom:20px;
}
.padding-btm-x3{
  padding-bottom:30px;
}
.padding-btm-x4{
  padding-bottom:40px;
}
.padding-btm-x5{
  padding-bottom:50px;
}
.padding-btm-x6{
  padding-bottom:60px;
}
.padding-btm-x7{
  padding-bottom:70px;
}
.padding-btm-x8{
  padding-bottom:80px;
}
/*Btm margins*/
.margin-btm-x1{
  margin-bottom:10px;
}
.margin-btm-x2{
  margin-bottom:20px;
}
.margin-btm-x3{
  margin-bottom:30px;
}
.margin-btm-x4{
  margin-bottom:40px;
}
.margin-btm-x5{
  margin-bottom:50px;
}
.margin-btm-x6{
  margin-bottom:60px;
}
.margin-btm-x7{
  margin-bottom:70px;
}
.margin-btm-x8{
  margin-bottom:80px;
}
/*Top paddings*/
.padding-top-x1{
  padding-top:10px;
}
.padding-top-x2{
  padding-top:20px;
}
.padding-top-x3{
  padding-top:30px;
}
.padding-top-x4{
  padding-top:40px;
}
.padding-top-x5{
  padding-top:50px;
}
.padding-top-x6{
  padding-top:60px;
}
.padding-top-x7{
  padding-top:70px;
}
.padding-top-x8{
  padding-top:80px;
}
/*Top margins*/
.margin-top-x1{
  margin-top:10px;
}
.margin-top-x2{
  margin-top:20px;
}
.margin-top-x3{
  margin-top:30px;
}
.margin-top-x4{
  margin-top:40px;
}
.margin-top-x5{
  margin-top:50px;
}
.margin-top-x6{
  margin-top:60px;
}
.margin-top-x7{
  margin-top:70px;
}
.margin-top-x8{
  margin-top:80px;
}
.margin-right-x2{
  margin-bottom:20px;
}
.text-14{
  font-size: 14px;
}

/*Pour masquer la page lors de l'apparition d'une popup*/
.rgba-black{
position: fixed;
inset: 0px;
 width: 100vw;
height: 100vh;
border: medium none;
z-index: 2147483647;
background-color: rgba(216, 216, 216, 0.4);
  }
