@charset "UTF-8";

@font-face {
  font-family: "pt_sans";
  src: url("assets/fonts/pt_sans/pt_sans_regular-webfont.woff2") format("woff2"),
  url("assets/fonts/pt_sans/pt_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pt_sans";
  src: url("assets/fonts/pt_sans/pt_sans_bold-webfont.woff2") format("woff2"),
  url("assets/fonts/pt_sans/pt_sans_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "proza_libre";
  src: url("assets/fonts/proza_libre/prozalibre-regular-webfont.woff2") format("woff2"),
  url("assets/fonts/proza_libre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proza_libre";
  src: url("assets/fonts/proza_libre/prozalibre-medium-webfont.woff2") format("woff2"),
  url("assets/fonts/proza_libre/prozalibre-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "proza_libre";
  src: url("assets/fonts/proza_libre/prozalibre-semibold-webfont.woff2") format("woff2"),
  url("assets/fonts/proza_libre/prozalibre-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "proza_libre";
  src: url("assets/fonts/proza_libre/prozalibre-bold-webfont.woff2") format("woff2"),
  url("assets/fonts/proza_libre/prozalibre-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: $default_font, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title_font, "Brie Light", "Arial", "DejaVu Sans Mono";
}
.nobold{
  font-weight: normal;
}
