@charset "UTF-8";

main {
    display: block;
    width: 100%;
    //max-width: 320px; // to look like the styleguide, to remove when we will have full width views
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

