{#[Framadate][expiration] Sondage: TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}


    Ce sondage va bientôt expirer dans 1 jour, <br>
    <blockquote>
      le  {{ poll.expiracyDate | date('D Y-m-d') }}
    </blockquote>
    il ne sera plus possible d'y voter. <br>
    Dans 31 jours il sera supprimé.<br>
    Vous pouvez exporter ses données à tout moment en vous rendant à ce lien pour l'administrer:
    <br>
    {% include 'emails/partial/admin_link.html.twig' %}
{% endblock %}
