<div class="footer-content" style="text-align:center; padding: 1em;">
    Framadate est un logiciel libre, tout le monde peut
    <a href="https://framateam.org/ux-framatrucs/channels/framadate">
        l'améliorer.
    </a>
    <br>
    Merci de votre confiance.
    <br>
    <a href="{{ BASE_URL }}">
        Framadate {{ BASE_URL }}
    </a>
    <br>
    <a href="https://framagit.org/framasoft/framadate/funky-framadate-front">
        Sources du client Front end,
    </a>
    <a href="https://framagit.org/framasoft/framadate/framadate">
        API back end.
    </a>
    <a href="https://framagit.org/framasoft/framadate/funky-framadate-front/-/wikis/home">
        Documentation
    </a>


</div>
