<div class="poll">
    <h1>
        Sondage {{ poll.title }}
    </h1>


    <br>
    <div class="creation">
        créé le {{ poll.creationDate| date('Y m d ') }}
    </div>
    <div class="creation">
        expirera le {{ poll.expiracyDate| date('Y m d ') }}
    </div>
    <span class="votes-count">
                    {{ poll.stacksOfVotes |length }} votes
                </span>
    <span class="votes-count">
                    {{ poll.comments |length }} commentaires
                </span>
    {% if poll.password |length %}
        (accès avec mot de passe)
    {% else %}
    {% endif %}

    <br>

    <div class="public">
                <span>
                    lien à donner aux votants:
                </span>
        {% include 'emails/partial/public_link.html.twig' %}
    </div>
    <div class="admin">
                <span>
                    administration:
                </span>
        {% include 'emails/partial/admin_link.html.twig' %}
    </div>
</div>
