.logo_first, .logo_second {
    padding-left: 0;
    padding-right: 0;
}

.logo_first {
    color: $logo_color;
}

.logo_second {
    color: $logo_color_2;
}

.wrapper {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    margin-top: 1rem;

    select {
        float: right;
    }
}

.lang_icon {
    grid-column: 1;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1ch;
}

.menu_icon {
    grid-column: 2;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
}

.lang_label {
    grid-column: 1;
    grid-row: 2;
}

.menu_label {
    grid-column: 2;
    grid-row: 2;
    font-family: SourceSansPro;
    font-size: 11px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.legend_first {
    color: $legend_color;
    padding-right: 0rem;
    padding-left: 0rem;
}

.legend_second {
    color: $legend_color_2;
    padding-right: 0rem;
    padding-left: 0rem;
}

.legend {
    font-size: 10px;
}
